
<div class="w-100 h-100 d-flex flex-column flex-md-row" [class.toggled]="hasSidebar">
    <div class="sidebar flex-shrink-0 escomio-bg-oxford-blue">
        
    </div>


    <div class="flex-grow-1 d-flex flex-column">

        <nav class="navbar navbar-expand-lg navbar-light d-md-none px-2">
            <div (click)="showSidebar()" id="sidebar-toggler">
                <i class="bi bi-caret-right-fill sidebar-toggler-icon"></i>
            </div>
        </nav>

        <div class="container-fluid flex-grow-1 d-flex escomio-flex-center"
            (click)="closeSidebar()">

        </div>
    </div>
</div>