
<div class="w-100 h-100 d-flex flex-column flex-md-row" [class.toggled]="hasSidebar">

    <!-- Sidebar -->
    <div class="sidebar flex-shrink-0 escomio-bg-oxford-blue">  
    </div>

    <!-- Right Panel -->
    <div class="flex-grow-1 d-flex flex-column">

        <!-- Chat Nav Options -->
        <nav class="navbar navbar-expand-lg navbar-light d-md-none py-0 px-2">
            <div (click)="showSidebar()" id="sidebar-toggler">
                <i class="bi bi-filter-right sidebar-toggler-icon"></i>
            </div>
            <div class="ms-auto">
                <i class="bi bi-three-dots-vertical sidebar-toggler-icon"></i>
            </div>
        </nav>

        <!-- Chat Panel -->
        <div class="w-100 flex-grow-1 d-flex escomio-flex-center"
            (click)="closeSidebar()">
            <app-chat></app-chat>
        </div>
    </div>
</div>