<!-- app.component.html -->
<div class="w-100 h-100 d-flex flex-column flex-md-row" [class.toggled]="hasSidebar">

    <!-- Sidebar -->
    <div class="sidebar flex-shrink-0 escomio-bg-oxford-blue">

        <div class="row escomio-flex-center mt-5">
            <div class="col-10 col-sm-10">
                <button class="btn p-3 col-12 col-sm-12 escomio-bg-saphire-blue escomio-txt-snow"
                    (click)="startNewConversation()">
                    Iniciar conversación
                </button>
            </div>
        </div>

        <ul class="list-unstyled mt-4">
            <li *ngFor="let conversation of conversations; let i = index">
                <div class="row mt-2 escomio-conversation-link escomio-flex-center escomio-txt-small"
                    (click)="selectConversation(i)">
                    <div class="col-10 col-sm-10 p-3"
                        [ngClass]="{'escomio-active-conversation': activeConversationIndex === i}">
                        <div class="row escomio-flex-center">
                            <div class="col-10 col-sm-10 escomio-txt-snow">
                                {{ conversation.name }}
                            </div>
                            <div class="d-none d-sm-none d-md-block col-1 col-sm-1 escomio-txt-snow">
                                <i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown"></i>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li (click)="confirmDeleteConversation()"><a class="dropdown-item">Eliminar conversación</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- Right Panel -->
    <div class="flex-grow-1 d-flex flex-column">

        <!-- Chat Nav Options -->
        <nav class="navbar navbar-expand-lg navbar-light d-md-none py-0 px-2">
            <div (click)="toggleSidebar()" id="sidebar-toggler">
                <i class="bi bi-filter-right sidebar-toggler-icon"></i>
            </div>
            <div class="ms-auto">
                <i class="bi bi-three-dots-vertical sidebar-toggler-icon" data-bs-toggle="dropdown"></i>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li (click)="confirmDeleteConversation()"><a class="dropdown-item">Eliminar conversación</a></li>
                </ul>
            </div>
        </nav>

        <!-- Chat Panel -->
        <div class="w-100 flex-grow-1 d-flex escomio-flex-center" (click)="closeSidebar()">
            <app-chat [conversationId]="selectedConversationId" [isNewConversation]="isNewConversation"
                (newConversation)="addNewConversation($event)">
            </app-chat>
        </div>
    </div>
</div>