<div class="row w-100 h-100" id="login-container">
    <!-- Left panel with logo -->
    <div class="d-none d-sm-none d-lg-flex col-lg-5 h-100 escomio-bg-saphire-blue escomio-flex-center">
        <div class="escomio-flex-center">
            <div class="col-11 col-sm-11">
                <img class="logo-img" src="../../../assets/images/icons/escomio-dark-logo.png" />
            </div>
        </div>
    </div>

    <!-- Right panel with form -->
    <div class="col-12 col-sm-12 col-lg-7 h-100 escomio-flex-center">
        
    </div>
</div>