<div class="container-fluid h-100">
    <div class="row escomio-section escomio-flex-center">
        <img class="escomio-footer-logo" src="../../../assets/images/landing/escomio-light-logo.png">
    </div>
    <div class="row escomio-section escomio-txt-oxford-blue d-flex justify-content-center aligns-items-star">
        <div class="col-12 col-sm-12 col-md-6 h-100 escomio-flex-center escomio-section-text">
            <div class="container h-100 escomio-section-container escomio-flex-center"> 
                <div class="innner-container p-3">
                    <div class="row text-center escomio-section-title mb-4">
                        <span class="display-5">¿Quién es ESCOMIO?</span>
                    </div>
                    <div class="row text-center escomio-section-information mb-4">
                        <p class="fs-4">
                            Es un chatbot informativo, diseñado para atender dudas y proporcionar información
                            sobre
                            el departamento de gestión escolar de la Escuela Superior de Cómputo (ESCOM). <br> <br>
                            ESCOMIO permite a los estudiantes obtener respuestas rápidas y precisas, facilitando su
                            experiencia en la ESCOM y asegurando que tengan acceso a toda la información
                            necesaria para su desarrollo académico.
                        </p>
                    </div>
                    <div class="row escomio-flex-center mb-4">
                        <div class="col-11 col-sm-11 col-md-6">
                            <a [routerLink]="['/', chatRoute]">
                                <button type="submit" class="btn col-12 col-sm-12 escomio-bg-saphire-blue escomio-txt-snow">
                                    <span class="fs-4">Hablar con ESCOMIO</span>
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row escomio-section escomio-bg-oxford-blue escomio-txt-snow escomio-flex-center">
        <div class="col-12 col-sm-12 col-md-6 h-100 escomio-flex-center escomio-section-text">
            <div class="container h-100 escomio-section-container escomio-flex-center"> 
                <div class="innner-container p-3">
                    <div class="row text-center escomio-section-title mb-4">
                        <span class="display-5">Propósito</span>
                    </div>
                    <div class="row text-center escomio-section-information mb-4">
                        <p class="fs-4">
                            ESCOMIO está diseñado para proporcionar una experiencia de usuario intuitiva y
                            atención personalizada, mejorando la comunicación entre el alumnado y el personal
                            administrativo.
                            <br><br>
                            Al estar operativo en un horario amplio, ESCOMIO garantiza la disponibilidad y
                            accesibilidad de la información, permitiendo a estudiantes y personal administrativo
                            acceder a respuestas en cualquier momento.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 h-100 escomio-section-image escomio-flex-center py-5">
            <div class="col-10 col-sm-10 escomio-flex-center">
                <img src="../../../assets/images/landing/purpose.png">
            </div>
        </div>
    </div>

    <div class="row escomio-section escomio-txt-oxford-blue escomio-flex-center">
        <div class="col-12 col-sm-12 col-md-6 h-100 escomio-flex-center py-5">
            <div class="col-10 col-sm-10 escomio-flex-center">
                <img class="escomio-footer-header" src="../../../assets/images/landing/idea.png">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 h-100 escomio-flex-center escomio-section-text">
            <div class="container h-100 escomio-section-container escomio-flex-center"> 
                <div class="innner-container p-3">
                    <div class="row text-center escomio-section-title mb-4">
                        <span class="display-5">Idea</span>
                    </div>
    
                    <div class="row text-center escomio-section-information mb-4">
                        <p class="fs-4">
                            Surge ante la problemática de desinformación de los estudiantes sobre los procesos académico-administrativos, a pesar de la disponibilidad de la documentación en plataformas y redes sociales de la Escuela Superior de Cómputo (ESCOM).
                            <br><br>
                            se optó por implementar un chatbot como solución más viable, ofreciendo una atención interactiva y eficiente que facilita el acceso a la información necesaria, mejorando así la comunicación y el respaldo académico.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row escomio-section escomio-bg-oxford-blue escomio-txt-snow escomio-flex-center">
        <div class="col-12 col-sm-12 col-md-6 h-100 escomio-flex-center escomio-section-text">
            <div class="container h-100 escomio-section-container escomio-flex-center"> 
                <div class="innner-container p-3">
                    <div class="row text-center escomio-section-title mb-4">
                        <span class="display-5">Desarrollo</span>
                    </div>
                    <div class="row text-center escomio-section-information mb-4">
                        <p class="fs-4">
                            ESCOMIO utiliza tecnologías avanzadas para proporcionar un servicio eficiente y efectivo. Emplea Reconocimiento de Lenguaje Natural (NLP) para entender y procesar preguntas en lenguaje cotidiano, facilitando una comunicación intuitiva.
                            <br><br>
                            Además, se basa en Inteligencia Artificial (IA) para mejorar sus respuestas, asegurando que sean cada vez más precisas. Esta combinación de NLP y IA permite a ESCOMIO analizar el contexto de las consultas y ofrecer respuestas contextualizadas y relevantes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 h-100 escomio-section-image escomio-flex-center py-5">
            <div class="col-10 col-sm-10 escomio-flex-center">
                <img src="../../../assets/images/landing/development.png">
            </div>
        </div>
    </div>
</div>