# Prevents the following files to be served in the container
**/node_modules
**/dist
**/e2e
**/docs
*.gitignore
*.zip
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws