<div class="table-container p-5">

    <div class="row mb-5">
        <span class="h1">Lista de mensajes</span>
    </div>

    <!-- Spinner -->
    <div *ngIf="isLoading" class="d-flex justify-content-center">
        <div class="spinner-border escomio-txt-oxford-blue" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>

    <table *ngIf="!isLoading" datatable [dtOptions]="dtoptions" class="display">
        <thead>
            <tr>
                <th>Id Conversación</th>
                <th>Pregunta</th>
                <th>Respuesta</th>
                <th>Calificación</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let message of messages">
                <td>{{ message.conversation_id }}</td>
                <td>{{ message.asked_question }}</td>
                <td>{{ message.question_answer }}</td>
                <td>{{ message.grade }}</td>
                <td>{{ message.creation_datetime | date:'medium' }}</td>
            </tr>
        </tbody>
    </table>
</div>