<div class="row w-100 h-100">

    <!-- Left panel with logo -->
    <div class="d-none d-sm-none d-lg-flex col-lg-5 h-100 escomio-bg-saphire-blue escomio-flex-center">
        <div class="escomio-flex-center">
            <div class="col-11 col-sm-11">
                <img class="logo-img" src="../../../assets/images/icons/escomio-dark-logo.png" />
            </div>
        </div>
    </div>

    <!-- Right panel with form -->
    <div class="col-12 col-sm-12 col-lg-7 h-100 escomio-flex-center">
        <div class="container col-11 col-sm-11 col-md-7 pt-5 pb-5">
            
            <!-- Titles -->
            <span class="h1 d-block mb-3 escomio-txt-oxford-blue">Inicio de sesión</span>
            <span class="h5 d-block escomio-txt-rich-black">¡Bienvenido al asistente virtual Escomio!</span>

            <form [formGroup]="userLogin" class="mt-5">
                <div class="mb-4">
                    <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-4 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Mostrar contraseña</label>
                </div>
                <button (click)="login()" type="submit" class="btn col-12 col-sm-12 escomio-bg-saphire-blue escomio-txt-snow">Iniciar sesión</button>
            </form>
        </div>        
    </div>

</div>
